[sys_para]
log_level:
time_out:3

# qiyeid
[corp_para]
corp_id:ww11cf851bb266917f
token_url:https://qyapi.weixin.qq.com/cgi-bin/gettoken

# tongxunlu
[contact_para]
agent_id:
# 通讯录同步的Secret
secure:InStBwQ2fu45EOOxAIPi9pxXqJZ0Z_yQ7iASFc5BPC4
create_dept_url:https://qyapi.weixin.qq.com/cgi-bin/department/create
update_dept_url:https://qyapi.weixin.qq.com/cgi-bin/department/update
delete_dept_url:https://qyapi.weixin.qq.com/cgi-bin/department/delete
list_dept_url:https://qyapi.weixin.qq.com/cgi-bin/department/list
create_member_url:https://qyapi.weixin.qq.com/cgi-bin/user/create
get_member_url:https://qyapi.weixin.qq.com/cgi-bin/user/get
update_member_url:https://qyapi.weixin.qq.com/cgi-bin/user/update
delete_member_url:https://qyapi.weixin.qq.com/cgi-bin/user/delete